<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/css.css">
</head>
<body>
<%- include('./partials/nav') %>
<main class="flex-shrink-0">
<div class="container">
    <h1 class="mt-5">Autos</h1>
</div>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Marca</th>
        <th scope="col">Modelo</th>
        <th scope="col">Año</th>
      </tr>
    </thead>
    <tbody>
        <% for (let i = 0; i < autos.length; i++) { %>
            <tr style="color: <%= autos[i].color%>;">
                <th scope="row"><%=i+1%></th>
                <td><a style="color: <%= autos[i].color%>;!important" href="/products/marca/<%= autos[i].marca%>"><%= autos[i].marca%></a></td>
                <td><%= autos[i].modelo%></td>
                <td><a style="color: <%= autos[i].color%>;!important" href="/products/anio/<%= autos[i].anio%>"><%= autos[i].anio%></a></td>
              </tr>
        <% } %>
    </tbody>
  </table>
</main>
</body>
<%- include('./partials/footer') %>
<br>
</html>